[Desktop Entry]
Encoding=UTF-8
Name=Link to Extracting text from an image using Ocropus
Type=Link
URL=http://www.danvk.org/2015/01/09/extracting-text-from-an-image-using-ocropus.html
Icon=(null)
